
body{
	margin: auto 0;
	background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(background.png);
	height: 100vh;
	background-size: cover;
	background-position: center;
	font-size:2em;
}

.main-nav {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    font-size: 0.8vw;
    margin: 0;
    height: 100%;
}

@media only screen and (max-width: 600px) {
    .main-nav{
        font-size: 0.5em;
        padding: 0;
    }
}

.main-nav li {
    display: grid;
    height: 100%;
    align-items: center;
}

.main-nav li a {
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: "Roboto";
    height: 25px;
    display: grid;
    align-items: center;
}

.main-nav li.active a{
	border: 1px solid white;
}

.main-nav li a:hover{
	border: 1px solid white;
}

img {
    width: 25%;
    height: auto;
    float: left;
}

.container{
	display: flex;
	flex-direction: column;
	justify-content: center;
	border:1px solid white;
	margin-top: 250px;
}

h1{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	color: white;
	text-transform: uppercase;
	font-size: 8vw;
	font-family: "Roboto";	
}

.button{
text-align: center;
}

.btn{
	border:1px solid white;
	padding: 10px 30px;
	color: white;
	font-size: 1vw;
	text-transform: uppercase;
	text-decoration:none;
}

.btn-one{
	font-family: Roboto;
}

.btn-two{
	font-family: Roboto;
}

.btn:hover{
	background-color: darkorange;
	transition: all 0.2s ease-in;
}

.NICOLAE{
/*    css*/
}